@import "_variables.scss";

.presenter {
  margin-left: 20%;
  margin-right: 20%;
  padding: 8px;

  @include animate(slideUp);
}

.presenter-box {
  display: block;
  flex: 1 1 700px;
}

.presenter-brand {
  text-align: left;
  font-size: 25px;
  color: $presenter-brand;
  font-weight: 700;
}

.presenter-name {
  margin: 24px 8px 8px 8px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
  color: $presenter-name;
}

.presenter-name::after {
  margin-left: 30px;
  display: inline-block;
  content: "";
  vertical-align: middle;
  height: 1px;
  background: linear-gradient(
    to right,
    $presenter-name-line-start,
    $presenter-name-line-end
  );
  width: 100%;
}
.presenter-code {
  margin: 8px;
  padding: 8px;
  border-radius: 2px;
  background: $presenter-code-background;
  @include box-shadow;
}
.presenter-text {
  margin: 8px;
  white-space: pre-wrap;
  color: $presenter-text;
}
.presenter-link {
  margin: 0px 8px 8px 8px;
}
.presenter-link > a {
  display: block;
  color: $main-link-text;
  text-decoration: none;
  text-align: center;
  background: linear-gradient(
    15deg,
    $presenter-link-start,
    $presenter-link-end
  );
  padding: 8px;
  border-radius: 20px;
  @include box-shadow;
}
.presenter-link > a:hover {
  color: $main-link-text-hover;
  background: linear-gradient(
    15deg,
    $presenter-link-start-hover,
    $presenter-link-end-hover
  );
}
.presenter-top > a {
  position: fixed;
  text-align: center;
  right: 20px;
  bottom: 20px;
  height: 20px;
  width: 20px;
  border: 0px solid black;
  border-radius: 50%;
}
@media (min-width: 1281px) {
}
/* ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
}
/* ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
}
/* ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/* ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .presenter {
    margin-left: 5%;
    margin-right: 5%;
  }
}
/* ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px */
@media (max-width: 480px) {
  .presenter {
    margin-left: 5%;
    margin-right: 5%;
  }
}
