@import "_variables.scss";
@import "prism.css";

/* SCROLL */
::-webkit-scrollbar {
  width: 5px;
}
/* 스크롤바의 width */
::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #a1a1a1, #a1a1a1);
}
/* 스크롤바 색 */
::-webkit-scrollbar-button {
  display: none;
}
/* 위 아래 버튼 (버튼 없애기를 함) */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 8px solid #ff8e8e; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  height: 50px;
  width: 50px;
  animation: spin 2s linear infinite;
}
